.container {
  width: 100%;
  height: 105vh;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.container.mob {
  flex-direction: column-reverse;
}

.first,
.second {
  flex: 1;
  height: 88%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second {
  flex-direction: column;
  height: 35vh;
  align-self: center;
  margin-left: 5vw;
  justify-content: space-between;
}


.second.mob {
  justify-content: space-around;
}

.title {
  width: 85%;
  font-size: 7vh;
}

.title.mob {
  font-size: 3.5vh;
  margin-top: 15vh;
  margin-bottom: -5vh;
}

.social {
  position: absolute;
  right: 7.5vw;
  top: 15vh;
}
