.btn {
  all: unset;
  width: 10vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2vh 4vh; */
  border-radius: 1vh;
  cursor: pointer;
  transition: all 1s;
  /* background-color: var(--button); */
  transition-timing-function: cubic-bezier();
}

.btn:hover {
  opacity: 0.9;
}

.btn.border {
  border: 0.2vh solid;
}

.btn > p {
  color: var(--background-200) !important;
  font-weight: 500;
  font-size: 2vh;
}

.btn.border > p {
  color: var(--brand-100) !important;
}

/**switch**/
/**switch**/
.switch {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch > p {
  font-size: 2vh;
  color: black;
  opacity: 0.8;
  margin-right: 1vw;
}

.title {
  font-size: 2vh;
  color: black;
  opacity: 0.8;
  margin-right: 1vw;
}

.toggle {
  width: 3.5vw;
  height: 2vw;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: #c6c6c6; */
  box-shadow: inset 0.5vh 0.5vh 0.7vh #9b9b9b, inset -0.5vh -0.5vh 0.7vh #f3f3f3;
}

.tCircle {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 1vw;
  margin-left: 0.5vw;
  transition: all 1s;
  background-color: var(--accent);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tCircle.active {
  transform: translateX(1vw);
}
/**switch**/
/**switch**/

/*search*/
/*search*/
.search {
  width: 25vw;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--grey);
  border-radius: 7vh;
  -webkit-box-shadow: 2px 7px 29px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 7px 29px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 7px 29px -10px rgba(0, 0, 0, 0.4);
}

.search.email {
  height: 7vh;
  background-color: var(--background-300); 
}

.email > button {
  all: unset;
  display: flex;
  cursor: pointer;
  height: 100%;
  border-radius: 10vh;
  background-color: var(--brand-100);
  color: var(--background-200) !important;
  width: fit-content;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: center;
  align-items: center;
}

.search > input {
  all: unset;
  color: black;
  font-family: "Montserrat";
  padding-inline-start: 1.5vw;
  padding-inline-end: 1vw;
  flex: 1;
}

.search > input:focus {
  outline: none !important;
  border: unset;
}

.increment {
  flex-direction: row;
  align-items: center;
}

.increment > button {
  all: unset;
}

.increment > p,
.increment > button {
  color: black;
  margin-right: 1vw;
}
/*search*/
/*search*/

/*shadow*/
/*shadow*/
/*shadow*/

.shadow {
  -webkit-box-shadow: 0px 0px 21px 0px var(--shadow);
  -moz-box-shadow: 0px 0px 21px 0px var(--shadow);
  box-shadow: 0px 0px 21px 0px var(--shadow);
}

/*input*/
/*input*/
/*input*/
.container {
  /* width: 28vw; */
  width: 98%;
  padding: 1% 2vh;
  display: flex;
  flex-direction: column;
}

.container > p {
  font-size: 2vh;
  margin-bottom: 1vh;
  color: black;
  opacity: 0.8;
}

.inputNow {
  width: 100%;
  height: 6vh;
  border: 1px solid var(--black);
  border-radius: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: transparent;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inputNow:focus {
  outline: none !important;
  border: 2px solid var(--black);
}

.inputNow::placeholder {
  color: var(--black);
}

/*titleC8/
/*titleC8/
/*titleC8/
/*titleC8*/

.titleC {
  font-family: "DM Serif Display", serif;
  color: var(--black);
}

/*Hamburger*/
/*Hamburger*/
.line {
  width: 5vh;
  /* position: absolute; */
  background-color: var(--white);
  height: 3px;
  border-radius: 3px;
  transition: transform 2s, opacity 2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.line.inverted {
  background-color: var(--black);
}

.lineOneActive {
  transform: rotate(0.12turn) translateY(2vh);
}
.lineThreeActive {
  transform: rotate(-0.12turn) translateY(-2vh);
}
.lineTwoActive {
  opacity: 0;
  transform: translateX(-5vh);
}
/*Hamburger*/
/*Hamburger*/
/*Hamburger*/

/**two btn*/
/**two btn*/
.twobtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twobtn {
  border-radius: 1vh;
}

.twobtn.one {
  background-color: var(--accent);
  margin-right: 1vw;
}

.twobtn.one > p {
  color: white;
}
/**two btn*/
/**two btn*/
/**two btn*/
/*text area*/
/*text area*/
.textarea {
  color: var(--black);
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 2.2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
/*text area*/
/*text area*/

.inverted {
  filter: invert(1);
}
.taCOntain {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}

/*Counter*/
/*Counter*/
.count {
  width: 5vw;
  height: 3.5vh;
  background-color: var(--accent);
  border-radius: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

.count > p {
  color: white;
  margin-left: 0.5vw;
  font-size: 1.5vh;
}

/*Counter*/
/*Counter*/
